$white: #fff;
$whiteSmoke: #F7F7F7;
$darkblue: #2A3F54;
$ligthGrey: #EAEAEA;
$lightSeagreen: #1ABB9C;
$darksLateGray: #3E5367;
$slateGray: #5A738E;
$black: #000;
$silver: #BAB8B8;
$rosyBrown: #F7F7F7;
$mediumsLateBlue: #8080FF;
$lavender: #E5E5FF;
$gainsBoro: #D9DEE4;
$skyBlue: #79C3DF;
$gray: #757679;
$lightBlue: #abd9ea;
$darkGray: #ADB2B5;
$dodgerBlue:#3498DB;
$purple: #9B59B6;
$aero: #9CC2CB;
$red: #E74C3C;
$darkRed: #C0392B;
$lightsLateGray: #73879C;
$lightGray: #d1cfd0;
$orange: #F39C12;
$mediumTurQuoise: #50C1CF;
$lightSteelBlue: #B0BED9;

.blue {
  color: $dodgerBlue;
}
.purple {
  color: $purple;
}
.green {
  color: $lightSeagreen;
}
.aero {
  color: $aero;
}
.red {
  color: $red;
}
.dark {
  color: $darksLateGray;
}
.border-blue {
  border-color: $dodgerBlue !important;
}
.border-purple {
  border-color: $purple !important;
}
.border-green {
  border-color: $lightSeagreen !important;
}
.border-aero {
  border-color: $aero !important;
}
.border-red {
  border-color: $red !important;
}
.border-dark {
  border-color: $darksLateGray !important;
}
.bg-white {
  background: $white !important;
  border: 1px solid $white !important;
  color: $lightsLateGray;
}
.bg-green {
  background: $lightSeagreen !important;
  border: 1px solid $lightSeagreen !important;
  color: $white;
}
.bg-red {
  background: $red !important;
  border: 1px solid $red !important;
  color: $white;
}
.bg-blue {
  background: $dodgerBlue !important;
  border: 1px solid $dodgerBlue !important;
  color: $white;
}
.bg-orange {
  background: $orange !important;
  border: 1px solid $orange !important;
  color: $white;
}
.bg-purple {
  background: $purple !important;
  border: 1px solid $purple !important;
  color: $white;
}
.bg-blue-sky {
  background: $mediumTurQuoise !important;
  border: 1px solid $mediumTurQuoise !important;
  color: $white;
}